/*Document for Screens*/
html {
    scroll-behavior: smooth;
}
.index-body {
    font-family: 'montserratregular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background: #fff;
}


/*Text*/
.index-h1 {
    font-family: 'montserratbold', sans-serif;
    margin: 0 0 0.5em 0;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
}

.index-h3 {
    font-family: 'montserrat_lightregular', sans-serif;
    margin: 0 0 1em 0;
    font-size: 1.5vw;
    font-weight: 700;
    color: #fff;
}
.team-h3 {
    text-align: center;
    padding: 10px;
    font-family: 'montserrat_mediumregular', sans-serif;
    font-size: xx-large;
}

p {
    margin: 0 0 1em 0 ;

}
a {
    color: #fff;
}
a:visited {
    color: #fff;
}
/*button*/
/*buy-books-now-btn*/
a.btn {
    background-color: #22253c;
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1vw 1.8vw;
    transition: 0.3s;
    position: absolute;
    left: 70%;


}
a.btn:hover {
    color: #000;
    background-color: #23a89b;
}

/*scroll-down-btn*/

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: rotate(90deg);
    height: 50px;
    width: 50px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/*Header*/
header .global-overlay {
    background: #46494c;
    height: 140px;
    margin: 0;
    padding: 0;

}
.header-index {
    position: relative;
    height: 100vh;
    background: url("../images/library_books_reading.jpg") center no-repeat;
    background-size: cover;

}
.overlay {
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
header a.logo {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 13vw;
}
header a.nav-space {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
}
header a.logo span {
    display: none;
}
header div.cover {
    position: relative;
    width: 42%;
    top: 40%;
    left: 40%;
    text-align: right;
}

/*navigation*/

nav {
    position: fixed;
    float: right;
    top: 20px;
    right: 17vw;
    border-radius: 4px;
    z-index: 5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: 'ubuntubold', sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    background: #22253c;
    border-radius: 5px;


}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-transform: uppercase;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}
nav ul li a.active {
    background-color: #23a89b;
    color: #fff;
    border-radius: 4px;
}

nav ul li a:hover {
    background: #23a89b;
    color: #fff;
    border-radius: 4px;
}
nav ul li a:hover:not (.active){
    background: #23a89b;
    color: #fff;
}
nav ul li ul {
    display: block;
    min-width: 50px;
    position: absolute;
    margin-top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition:  .5s;
    transform: translateY(40px);
    background: #22253c;
}
nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
nav ul li ul li a {
    padding: 10px;
}
/*section-all*/
section {
    padding: 0 30px;
}
div .container {
    position: relative;
    z-index: 0;

}

/*books-container*/
/*    content*/
.left-column {
    width: 150px;
    text-align: right;
    top: 0;
    vertical-align: text-top;
    padding: 5px;
}
.right-column {
    padding: 5px;
}
/*other*/
.container_heading{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #fffafb;
    margin-right: 400px;

}
div .main-container {
    height: 1400px;
    background: #ffffff;
    overflow: hidden;
    top: 0;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;

}
.co-main-container {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 30px 0 0 30px;
}
.co-one {
    padding-top: 0;
}

.book_1 ,.book_3,.book_2,.book_4{
    width: 400px;
    height: 50px;
    margin-left: 55px;
    -webkit-transform:skew(20deg);
    -moz-transform:skew(20deg);
    -o-transform:skew(20deg);
    padding-top: 10px;
}
.book-img {
    height: 280px;
    width: 187px;
}

div .book_1_info,.book_3_info{
    width: 500px;
    float: left;
    padding: 30px;
    display: inline-block;
    color: #ffffff;
}

div .book_2_info,.book_4_info{
    width: 500px;
    text-align: left;
    float: right;
    padding: 30px;
}

.sub-container-01 {
    background: #2b2c28;
    height: 300px;
    margin-left: -30px;

}
.inner-container-01 {
    width: 500px;
    height: 300px;
    margin: 0 -55px 0 0;
    float: right;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #22253c;
    overflow: hidden;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.sub-container-02 {
    background: #23a89b;
    height: 300px;

}
.inner-container-02 {
    width: 500px;
    height: 300px;
    margin: 0 0 0 -85px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #22253c;
    overflow: hidden;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.sub-container-03 {
    background: #2b2c28;
    height: 300px;
    margin-left: -30px;

}
.inner-container-03 {
    width: 500px;
    height: 300px;
    margin: 0 -55px 0 0;
    float: right;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #22253c;
    overflow: hidden;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.sub-container-04 {
    background: #23a89b;
    height: 300px;

}
.inner-container-04 {
    width: 500px;
    height: 300px;
    margin: 0 0 0 -85px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #22253c;
    overflow: hidden;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




/*images*/

.container .box {
    width: 600px;
    margin: -30px auto 0 auto;
    display: table;

}
.container .box .box-row{
    display: table-row;

}
.container .box .box-row .box-cell {
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 0;
}

/*Hover Details*/
.container-1 .box {
    width: 800px;
    margin: 0 auto;
    display: table;
    height: 60px;
    padding: 10px;
    color: white;

}
.container-1 .box .box-row{
    display: table-row;

}
.container-1 .box .box-row .box-cell {
    display: table-cell;
    height: 100%;
    width: 25%;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}
.image-hover1 {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 4px;
}
.hover-wrapper-1:hover .image-hover1 {
    opacity: 0.8;
}
.image-hover2 {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 4px;
}
.hover-wrapper-2:hover .image-hover2 {
    opacity: 0.8;
}
.image-hover3 {
    border-radius: 4px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.hover-wrapper-3:hover .image-hover3 {
    opacity: 0.8;

}
.image-hover4 {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 4px;
}
.hover-wrapper-4:hover .image-hover4 {
    opacity: 0.8;
}

/*footer*/

footer {
    background-color: #131515;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    height: 230px;
    padding-left: 40px;
    bottom: 0;
}
footer .footer-logo {
    height: 100px;
    width: 100px;
    padding-bottom: 20px;
    padding-top: 60px;
}
footer p.footer-text {
    
}


